@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.banner {
    background-color:black;
    color:white;
    opacity:75%;
    height:5vh;
    padding-left:4vh;
    padding-top:1.5vh;
}

heading {
    font-family:'Montserrat';
}