@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.banner {
    background-color:black;
    color:white;
    opacity:75%;
    height:6vh;
    padding-left:4vh;
    padding-top:1.5vh;
}

heading {
    font-family:'Montserrat';
}

.sky {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,25,1) 35%, rgba(6,13,38,1) 100%);
}

.celestial {
    display:inline-block;
    background:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:90;
}
